release/JDash-0.9.0b/src/net/sourceforge/JDash/skin/XMLSkin/schema.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         xmlns:a="http://www.example.com/annotation" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <!-- The ROOT -->
  <start>
    <ref name="skin"/>
  </start>


  <!-- skin definition -->
  <define name="skin">
    <element name="skin">
      <!-- Attributes -->
      <a:documentation>The root node of the XML Document.</a:documentation>
      <attribute name="name">
        <a:documentation>The unique name for this skin</a:documentation>
        <text/>
      </attribute>
      <optional>
        <attribute name="extends"><text/></attribute>
      </optional>
      <!-- Elements -->
      <interleave>
          <element name="description">
            <text/>
          </element>
          <ref name="window"/>
          <zeroOrMore>
            <ref name="resource"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="trigger"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="analog-gauge"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="digital-gauge"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="led-gauge"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="linegraph-gauge"/>
          </zeroOrMore>
      </interleave>
    </element>
  </define>
  
  <!-- window definition -->
  <define name="window">
    <element name="window">
      <attribute name="width">
        <data type="integer"/>
      </attribute>
      <attribute name="height">
        <data type="integer"/>
      </attribute>
      <attribute name="type">
        <choice>
          <value>window</value>
          <value>fullscreen</value>
        </choice>
      </attribute>
      <attribute name="scale">
        <data type="integer"/>
      </attribute>
      <attribute name="fill-color"><text/></attribute>
      <ref name="all-shapes"/>
    </element>
  </define>
  
  <!-- resource definition -->
  <define name="resource">
    <element name="resource">
      <attribute name="name"><text/></attribute>
      <attribute name="type">
        <choice>
          <value>image</value>
          <value>color</value>
          <value>sound</value>
          <value>font</value>
        </choice>
      </attribute>
      <attribute name="value"><text/></attribute>
    </element>
  </define>

  <!-- trigger definition -->
  <define name="trigger">
    <element name="trigger">
      <attribute name="sensor"><text/></attribute>
      <attribute name="sensor-min"><text/></attribute>
      <attribute name="sensor-max"><text/></attribute>
      <oneOrMore>
        <ref name="trigger-event"/>
      </oneOrMore>
    </element>
  </define>
  
  <!-- trigger-event definition -->
  <define name="trigger-event">
    <element name="event">
      <attribute name="type">
        <choice>
          <value>enter-range</value>
          <value>exit-range</value>
        </choice>
      </attribute>
      <attribute name="destination">
        <choice>
          <value>sound</value>
          <value>stdout</value>
          <value>logger</value>
          <value>monitor</value>
        </choice>
      </attribute>
      <attribute name="action"><text/></attribute>
    </element>
  </define>
  
  <!-- analog-gauge definition -->
  <define name="analog-gauge">
    <element name="analog-gauge">
      <attribute name="sensor">
        <data type="string"/>
      </attribute>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <ref name="sensor-min"/>
      <ref name="sensor-max"/>
      <ref name="gauge-min"/>
      <ref name="gauge-max"/>
      <interleave>
        <optional>
          <ref name="static-shapes"/>
        </optional>
        <ref name="needle-shape"/>
        <ref name="needle-shape"/>
        <ref name="needle-shape"/>
      </interleave>

    </element>
  </define>
  
  <!-- digital-gauge definition -->
  <define name="digital-gauge">
    <element name="digital-gauge">
      <attribute name="sensor">
        <data type="string"/>
      </attribute>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <optional>
        <ref name="static-shapes"/>
      </optional>
      <ref name="text-shape"/>
    </element>
  </define>
  
  <!-- led-gauge definition -->
  <define name="led-gauge">
    <element name="led-gauge">
      <text/>
    </element>
  </define>
  
  <!-- linegraph-gauge definition -->
  <define name="linegraph-gauge">
    <element name="linegraph-gauge">
      <text/>
    </element>
  </define>


  <!-- static definition -->
  <define name="static-shapes">
    <element name="static">
      <ref name="all-shapes"/>
    </element>
  </define>
  
  <!-- text shape definition -->
  <define name="text-shape">
    <element name="text">
      <ref name="color"/>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <ref name="size"/>
      <attribute name="format"><text/></attribute>
      <attribute name="font"><text/></attribute>
    </element>
  </define>
  
  <!-- rectangle shape definition -->
  <define name="rectangle-shape">
    <element name="rectangle">
      <ref name="color"/>
      <ref name="fill-color"/>
      <ref name="line-width"/>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <ref name="width"/>
      <ref name="height"/>
    </element>
  </define>
  
  <!-- roundrectangle shape definition -->
  <define name="roundrectangle-shape">
    <element name="round-rectangle">
      <ref name="color"/>
      <ref name="fill-color"/>
      <ref name="line-width"/>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <ref name="width"/>
      <ref name="height"/>
      <attribute name="arcw">
        <data type="integer"/>
      </attribute>
      <attribute name="arch">
        <data type="integer"/>
      </attribute>
    </element>
  </define>
  
  
  <!-- image shape definition -->
  <define name="image-shape">
    <element name="image">
      <ref name="name"/>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <ref name="width"/>
      <ref name="height"/>
    </element>
  </define>

  <!-- ellipse shape definition -->  
  <define name="ellipse-shape">
    <element name="ellipse">
      <ref name="color"/>
      <ref name="fill-color"/>
      <ref name="line-width"/>
      <ref name="x-coord"/>
      <ref name="y-coord"/>
      <ref name="width"/>
      <ref name="height"/>
    </element>
  </define>

  <!-- polygon shape definition -->
  <define name="polygon-shape">
    <element name="polygon">
      <ref name="color"/>
      <ref name="fill-color"/>
      <ref name="line-width"/>
      <oneOrMore>
        <ref name="point-shape"/>
      </oneOrMore>    
    </element>
  </define>

  <!-- Point Shape definition -->
  <define name="point-shape">
    <element name="point">
      <ref name="x-coord"/>
      <ref name="y-coord"/>
    </element>
  </define>  
  
  <!-- needle shape definition -->
  <define name="needle-shape">
    <element name="needle">
      <attribute name="type">
        <choice>
          <value>low</value>
          <value>main</value>
          <value>high</value>
        </choice>
      </attribute>
      <optional>
        <ref name="delay"/>
      </optional>
      <ref name="simple-shapes"/>
    </element>
  </define>

  <!-- Defines a combination of all possible simple shapes, not including the text shape -->
  <define name="simple-shapes">
    <interleave>
    <zeroOrMore>
      <ref name="rectangle-shape"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="image-shape"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ellipse-shape"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="polygon-shape"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="roundrectangle-shape"/>
    </zeroOrMore>
  </interleave>
  </define>
    
    
  <!-- Defines a combination of all standard shapes, including text shapes -->
  <define name="all-shapes">
    <interleave>
      <zeroOrMore>
        <ref name="text-shape"/>
      </zeroOrMore>
      <ref name="simple-shapes"/>
    </interleave>
  </define>
  
  <!-- Some of the standad and common element attributes -->
  <define name="name">
    <attribute name="name">
      <data type="string"/>
    </attribute>
  </define>
  
  
  <define name="x-coord">
    <attribute name="x">
      <data type="integer"/>
    </attribute>
  </define>
  
  <define name="y-coord">
    <attribute name="y">
      <data type="integer"/>
    </attribute>
  </define>
  
  <define name="size">
    <attribute name="size">
      <data type="integer"/>
    </attribute>
  </define>
  
  <define name="line-width">
    <attribute name="line-width">
      <data type="integer"/>
    </attribute>
  </define>
  
  <define name="height">
    <attribute name="height">
      <data type="integer"/>
    </attribute>
  </define>
  
  <define name="width">
    <attribute name="width">
      <data type="integer"/>
    </attribute>
  </define>
  
  <define name="color">
    <attribute name="color">
      <data type="string"/>
    </attribute>
  </define>
  
  <define name="fill-color">
    <attribute name="fill-color">
      <data type="string"/>
    </attribute>
  </define>

  <define name="sensor-min">
    <attribute name="sensor-min">
      <data type="integer"/>
    </attribute>
  </define>

  <define name="sensor-max">
    <attribute name="sensor-max">
      <data type="integer"/>
    </attribute>
  </define>

  <define name="gauge-min">
    <attribute name="gauge-min">
      <data type="integer"/>
    </attribute>
  </define>

  <define name="gauge-max">
    <attribute name="gauge-max">
      <data type="integer"/>
    </attribute>
  </define>

  <define name="delay">
    <attribute name="delay">
      <data type="integer"/>
    </attribute>
  </define>


</grammar>